<!-- ARTICLE PREVIEW DIRECTIVE START -->
<article id="blog-article">
    <header>
        <div class="image-section">
            <img archive="ngModel.banner" ng-src="{{ngModel.banner.src}}" />
            <div class="post-date">
                <div class="post-date-content">
                    <span>{{ngModel.creationDate | date:'dd'}}</span><span>{{ngModel.creationDate | date:'MMM'}}</span>
                </div>
            </div>
        </div>
        <h1 ng-if="showAllInfo">{{ngModel.title}}</h1>
        <h2 ng-if="!showAllInfo">{{ngModel.title}}</h2>
        <span class="datetime">{{ngModel.creationDate | date:"EEEE, dd 'de' MMMM 'de' yyyy"}}</span>
        <div class="tags">
            <span class="tags-cell">Por: <span class="posted-by">{{ngModel.author}}</span></span>
            <div class="tags-cell">
                <div class="tag" ng-repeat="tag in ngModel.tags"><span>{{tag.text}}</span></div>
            </div>
        </div>
    </header>
    <div class="description">
        <p ng-if="!showAllInfo">{{ngModel.summary}}</p>
        <pre ng-if="showAllInfo" ng-bind-html="ngModel.body"></pre>
    </div>
    <footer>
        <div class="cell more">
            <a ng-if="!showAllInfo" ui-sref="levelapBlog.blog.detail({id:ngModel.id, title: ngModel.title})">Leer m&aacute;s</a>
        </div>
        <div class="cell social-media">
            Share:
            <a href><i class="fa fa-facebook"></i></a>
            <a href><i class="fa fa-instagram"></i></a>
            <a href><i class="fa fa-youtube-play"></i></a>
            <a href><i class="fa fa-twitter"></i></a>
        </div>
    </footer>
    <div class="comments" ng-if="showAllInfo">
        <h2>Deja un comentario</h2>
        <article-comments ng-model="comments" level="0"/>
    </div>
</article>
<!-- ARTICLE PREVIEW DIRECTIVE END -->
