/*!
 * blog.css - v0.1
 * http://www.levelapsoftware.com
 * License: MIT
 */

/** COMMON **/
#blog{background:#FFFFFF;}
#blog h1,#blog h2{color:#7BCABC;font-weight:700;text-transform:uppercase;}
#blog div.tag{background:#FFFFFF;border:2px solid #7BCABC;border-radius:5px;color:#7BCABC;display:inline-block;margin:0.5em;padding:0.25em 1em;text-transform:uppercase;}
#blog hr.subtitle{border-top:3px solid #7BCABC;margin:0.5em 0 0;width:10%;}
#blog div.search,#blog div.important,#blog div.categories,#blog div.tags-section,#blog section.most-seen{background:#EEEEEE;margin-bottom:2em;padding:1em;position:relative;}

/** BANNER **/
#blog section.banner{padding-top:10em;padding-bottom:5em;text-align:center;display:block;position:relative;}
#blog section.banner div.title{font-size:2.5em;font-weight:700;letter-spacing:6px;margin-bottom:0;margin-top:0.5em;text-align:center;text-transform:uppercase;}
#blog section.banner hr{border-width:0;border-style:solid;border-color:#000000;margin-bottom:0;margin-top:0;}
#blog section.banner .title-up{border-top-width:2px;margin-bottom:-2px;margin-left:2em;margin-right:55%;position:relative;}
#blog section.banner .title-up::before{content:"";border-top:2px solid #000000;left:2em;margin-top:1em;right:3em;position:absolute;}
#blog section.banner .title-down{border-bottom-width:2px;margin-left:55%;margin-right:2em;margin-top:2px;position:relative;}
#blog section.banner .title-down::before{content:"";border-bottom:2px solid #000000;left:15%;margin-top:-1em;right:10%;position:absolute;}

/** PANELS **/
#blog section.blog-panel{background:transparent;margin-bottom:2em;position:relative;}
#blog section.blog-panel.left{float:left;width:54%;}
#blog section.blog-panel.right{float:right;width:44%;}

/** SEARCH PARAM AND VIEW **/
#blog div.search input{color:#7BCABC;font-size:1.5em;padding-left:0.5em;padding-right:2em;width:100%;}
#blog div.search input::-webkit-input-placeholder{color:#7BCABC;text-transform:none;}
#blog div.search input::-moz-placeholder{color:#7BCABC;text-transform:none;}
#blog div.search input::-ms-input-placeholder{color:#7BCABC;text-transform:none;}
#blog div.search input:focus{outline:1px solid #7BCABC;}
#blog div.search span.search-icon{color:#7BCABC;font-size:2.5em;position:absolute;right:0.5em;top:0.5em;}
#blog div.search article div.image-preview>div>div>img,#blog div.search article div.info{cursor:default;}
#blog div.search div.no-data h2{font-size:1em;}

/** IMPORTANT **/
#blog div.important article,#blog div.search article{display:table;margin-bottom:2em;width:100%;}
#blog div.important article div.image-preview,#blog div.search article div.image-preview{display:table-cell;padding-bottom:1em;padding-top:1.5em;text-align:center;vertical-align:middle;width:25%;}
#blog div.important article div.image-preview>div,#blog div.search article div.image-preview>div{height:6em;margin:auto;overflow:hidden;transform:rotate(45deg) translateY(10px);transform-origin:50% 50%;width:6em;}
#blog div.important article div.image-preview>div>div,#blog div.search article div.image-preview>div>div{height:25em;margin:auto;overflow:hidden;transform:rotate(-45deg) translateY(-74px);transform-origin:50% 50%;width:25em;}
#blog div.important article div.image-preview>div>div>img,#blog div.search article div.image-preview>div>div>img{cursor:pointer;height:auto;width:70%;}
#blog div.important article div.info,#blog div.search article div.info{cursor:pointer;display:table-cell;vertical-align:middle;width:75%;}
#blog div.important article div.info h2,#blog div.search article div.info h2{font-size:1em;}
#blog div.important article div.info p,#blog div.search article div.info p{font-size:0.9em;}

/** ** DIRECTIVES SECTION ** **/
/** NAVIGATION **/
#blog #navigation{display:table;font-weight:700;width:100%;}
#blog #navigation div.cell{display:table-cell;text-transform:uppercase;}
#blog #navigation div.cell a[disabled]{cursor:not-allowed;text-decoration:none;}
#blog #navigation div.cell:first-child{padding-left:1em;text-align:left;width:25%;}
#blog #navigation div.cell.pages{text-align:center;width:50%;}
#blog #navigation div.cell.pages>div{display:inline-block;}
#blog #navigation div.cell.pages>div>button{background:#FFFFFF;border:2px solid #7BCABC;border-radius:5px;color:#7BCABC;margin:auto 0.25em;outline:none;width:2em;}
#blog #navigation div.cell:last-child{padding-right:1em;text-align:right;width:25%;}

/** ARTICLE **/
#blog #blog-article{background:#EEEEEE;color:#6A615A;padding:1em;margin-bottom:2em;}
#blog #blog-article header div.image-section{position:relative;width:100%;}
#blog #blog-article header div.image-section img{border-radius:1em;margin-top:5%;width:97.5%;}
#blog #blog-article header div.image-section div.post-date{background:#FFFFFF;border:2px solid #7BCABC;border-radius:50%;color:#7BCABC;display:block;font-weight:700;right:0;top:0;padding:1em;position:absolute;text-align:center;text-transform:uppercase;width:10%;}
#blog #blog-article header div.image-section div.post-date span{display:block;}
#blog #blog-article header h1,#blog #blog-article h2{font-size:1.75em;margin:2% auto 1%;}
#blog #blog-article header span.datetime{font-size:0.75em;font-weight:400;}
#blog #blog-article header div.tags{display:table;font-weight:700;}
#blog #blog-article header div.tags .tags-cell{display:table-cell;padding-right:0.5em;vertical-align:middle;}
#blog #blog-article header div.tags .tags-cell span.posted-by{text-transform:uppercase;}
#blog #blog-article div.description p,#blog #blog-article div.description pre{background:transparent;border:none;overflow:hidden;padding:1em 0 0.5em;text-align:justify;white-space:pre-wrap;}
#blog #blog-article footer{display:table;font-weight:700;width:100%;}
#blog #blog-article footer div.cell{display:table-cell;text-transform:uppercase;width:50%;}
#blog #blog-article footer div.cell a{color:#7BCABC;}
#blog #blog-article footer div.cell:first-child{text-align:left;}
#blog #blog-article footer div.cell:last-child{text-align:right;}

/** COMMENTS **/
#blog #article-comment button{background:#FFFFFF;border:2px solid #7BCABC;color:#7BCABC;font-size:0.75em;padding:0.5em 1.5em;}
#blog #article-comment .comment-row{display:table-row;}
#blog #article-comment .comment-row .avatar{display:table-cell;text-align:center;vertical-align: middle;width:10%;}
#blog #article-comment .comment-row .avatar img{border:2px solid #7BCABC;border-radius:50%;width:80%;}
#blog #article-comment .comment-row .information{display:table-cell;vertical-align:middle;}
#blog #article-comment .comment,#blog #article-comment form#comments-form-logged{background:#FFFFFF;border:2px solid #7BCABC;border-radius:10px;margin-bottom:1em;margin-left:1em;padding:0.5em;position:relative;}
#blog #article-comment .comment::before,#blog #article-comment form#comments-form-logged::before{content:"";border:0.5em solid transparent;border-right-color:#7BCABC;height:1em;left:-1em;position:absolute;top:10px;}
#blog #article-comment .comment .comment-row .information span{display:block;}
#blog #article-comment .comment .comment-row .information .username,#blog #article-comment .comment .comment-row .information .datetime,#blog #article-comment form#comments-form-logged .username{color:#7BCABC;font-style:italic;font-weight:700;text-transform:uppercase;}
#blog #article-comment .comment .comment-row .information .datetime{font-size:0.75em;font-style:normal;font-weight:400;}
#blog #article-comment .comment .comment-row .information .datetime small{text-transform:none;}
#blog #article-comment .comment .comment-row .information small:first-child{border-right:1px solid #7BCABC;margin-right:0.5em;padding-right:0.5em;}
#blog #article-comment .comments-links{text-align:right;width:100%;}
#blog #article-comment form{text-align:left;}
#blog #article-comment .new-comment{text-align:center;}
#blog #article-comment form .send{text-align:right;}
#blog #article-comment form#comments-form{border:2px solid #6A615A;border-radius:10px;margin:auto auto 1em;padding:0.5em;width:80%;}
#blog #article-comment form#comments-form input,#blog #article-comment #comments-form textarea,#blog #article-comment form#comments-form-logged textarea{background:#FFFFFF;border:2px solid #7BCABC;color:#6A615A;outline:none;margin-bottom:0.5em;padding:0.5em;resize:none;width:100%;}
#blog #article-comment form#comments-form label{display:block;margin:0;}
#blog #article-comment form#comments-form label::before{content:"* ";}
#blog #article-comment form#comments-form label::after{content:":";}
#blog #article-comment form#comments-form div.error label{color:#F15E2A;}
#blog #article-comment form#comments-form div.error textarea,#blog #article-comment form#comments-form div.error input{border-color:#F15E2A;}
#blog #article-comment form#comments-form-logged .comment-row .avatar{vertical-align:top;}

/** MOST-SEEN **/
#most-seen h2{color:#7BCABC;font-weight:700;text-transform:uppercase;}
#most-seen hr.subtitle{border-top:3px solid #7BCABC;margin:0.5em 0 0;width:10%;}
#most-seen .article-row{display:inline-block;}
#most-seen .article-row>div{margin-bottom:2em;}
#most-seen .blog-preview .info{background:#FFFFFF;color:#6A615A;font-size:0.8em;margin:7% 0;padding:5%;text-align:justify;}
#most-seen .blog-preview .info h2{font-size:1.6em;}
#most-seen .blog-preview .info a{color:#7BCABC;position:relative;text-transform:uppercase;}
#most-seen .blog-preview .info p{padding-top:1em;}
#most-seen .blog-preview .picture{background:#FFFFFF;border-radius:5%;bottom:5%;left:58%;padding:0;position:absolute;right:0;top:0;}
#most-seen .blog-preview .picture .post-date{background:#FFFFFF;border:2px solid #7BCABC;border-radius:50%;color:#7BCABC;display:block;font-weight:700;left:-2em;padding:1em;position:absolute;text-align:center;text-transform:uppercase;top:-2em;width:25%;}
#most-seen .blog-preview .picture .post-date span{display:block;}
#most-seen .blog-preview .picture img{width:100%;height:100%;border-radius:5%;}
#most-seen .pagging{margin-bottom:1em;margin-top:-1em;text-align:center;}
#most-seen .pagging .page-button{border:2px solid #7BCABC;border-radius:50%;cursor:pointer;display:inline-block;height:20px;margin-left:0.25%;margin-right:0.25%;width:20px;}
#most-seen .pagging .page-button.page-active{background:#7BCABC;border-color:transparent;}
