<!-- BLOG NAVITATION DIRECTIVE START -->
<div id="navigation">
    <div class="cell">
        <a href ng-click="previousPage()" ng-disabled="activePage == 0"><i class="fa fa-angle-left"></i> Anterior</a>
    </div>
    <div class="cell pages">
        <div ng-repeat="page in pageList" ng-if="!hidePages">
            <span ng-if="page.number == (pages - 1) && activePage < (pages - 3)">...</span>
            <button class="page-button" ng-class="page.active ? 'page-active' : ''" ng-click="changePage(page)" ng-if="page.visible || page.number == 0 || page.number == pages - 1">{{page.number + 1}}</button>
            <span ng-if="page.number == 0 && activePage > 2">...</span>
        </div>
    </div>
    <div class="cell">
        <a href ng-click="nextPage()" ng-disabled="activePage == pages - 1">Siguiente <i class="fa fa-angle-right"></i></a>
    </div>
</div>
<!-- BLOG NAVITATION DIRECTIVE END -->
