<!-- MOST SEEN DIRECTIVE START -->
<section id="most-seen">
    <h2>{{title}}</h2>
    <hr class="subtitle" />
    <div class="article-row">
        <div class="col-md-6" ng-repeat="preview in ngModel">
            <article class="blog-preview">
                <div class="col-md-7 info">
                    <h2>{{preview.title}}</h2>
                    <p>{{preview.summary | limitTo:200}}{{preview.summary.length > 200 ? '...' : ''}}</p>
                    <a href ui-sref="levelapBlog.blog.detail({id:preview.id,title:preview.title})">Leer m&aacute;s</a>
                </div>
                <div class="col-md-5 picture">
                    <div class="image-section">
                        <div class="post-date"><span>{{preview.creationDate | date:'dd'}}</span><span>{{preview.creationDate | date:'MMM'}}</span></div>
                    </div>
                    <img archive="preview.banner" ng-src="{{preview.banner.src}}" />
                </div>
            </article>
        </div>
    </div>
    <div class="pagging">
        <div ng-repeat="page in pageList" ng-class="page.active ? 'page-active' : ''" ng-click="changePage(page)" class="page-button"></div>
    </div>
</section>
<!-- MOST SEEN DIRECTIVE END -->
